p:last-of-type{
  color: darkgoldenrod;
  font-size: xx-large;
}
input:valid{
  color: lightgreen;
  font-style: initial;
  font-size: xx-small;
}

label:first-of-type {
  color: coral;
}

input:dir(rtl) + label:first-of-type {
  color: lightskyblue;
  font-size: x-large;
}

:lang(en) > q { quotes: '\201C' '\201D' '\2018' '\2019'; }
