p:last-of-type{
  color: darkgoldenrod;
  font-size: xx-large;
}
input:valid{
  color: lightgreen;
  font-size: xx-small;
}

label:first-of-type {
  color: purple;
}

:lang(en) > q { quotes: '\201C' '\201D' '\2018' '\2019'; }

em:first-of-type{
  color: darkslateblue;
  font-weight: 600;
}